<div class="movie-cards-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
    </mat-card-header>
    <img [src]="movie.ImagePath" [alt]="movie.title" class="movie-image" />
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.genre)"
      >
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.director)"
      >
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie)"
      >
        Synopsis
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="addToFavorites(movie._id)"
        [disabled]="isFavorite(movie._id)"
        matTooltip="Add to Favorites"
      >
        <mat-icon>
          {{ isFavorite(movie._id) ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
